body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.5;    
    background-color: #ffefd5;
    color: blue;
}

p {
    color: #333;
}

h2 {
    color: #ff0000;
    background-color: rgba(152, 152, 242, 0.5);
}