* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  background-color: rgb(68, 68, 125);
  color: white;
  /* height: 700px; */
  margin: 0 auto;
  padding: 5rem;
}
